@import 'tailwindcss';

:root {
  --background: #0c0f17;
  --foreground: #f1f5f9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: #ffc206;
  --color-brand-hover: #e5ae00;
  --font-sans: var(--font-kantumruy-pro);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
